---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempore ullam
  laudantium, deleniti dicta incidunt exercitationem debitis ab. Quidem velit
  eius consequatur iure asperiores cumque quasi fugit, doloremque perspiciatis
  in!
</h1>
