---
import Header from "../components/Header.astro";
import "../styles/global.css";
import "animate.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      style="background-image: url('https://unicorn-images.b-cdn.net/f69998b5-1796-4ca4-b4b3-5e8aee59dbf0?optimizer=gif')"
      class="min-h-[100%] w-[100%] bg-cover -z-10 absolute bg-no-repeat"
    >
    </div>
    <Header />
    <div class="container max-w-[1024px] lg:px-0 px-4 mx-auto">
      <div class="mt-6">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
