<div class="flex flex-col lg:space-y-0 lg:flex-row">
  <a
    class="py-3 px-4 lg:px-4 lg:p-2 lg:border-0 font-semibold lg:text-white text-gray-600 rounded-full transition-all text-md lg:text-sm lg:font-semibold font-base hover:bg-orange-500 hover:text-white"
    href="">Home</a
  >
  <a
    class="py-3 px-4 lg:px-4 lg:p-2 lg:border-0 font-semibold lg:text-white text-gray-600 rounded-full transition-all text-md lg:text-sm lg:font-semibold font-base hover:bg-orange-500 hover:text-white"
    href="about">About</a
  >
  <a
    class="py-3 px-4 lg:px-4 lg:p-2 lg:border-0 font-semibold lg:text-white text-gray-600 rounded-full transition-all text-md lg:text-sm lg:font-semibold font-base hover:bg-orange-500 hover:text-white"
    href="">Blog</a
  >
  <a
    class="py-3 px-4 lg:px-4 lg:p-2 lg:border-0 font-semibold lg:text-white text-gray-600 rounded-full transition-all text-md lg:text-sm lg:font-semibold font-base hover:bg-orange-500 hover:text-white"
    href="">Blog</a
  >
</div>
